@import '../../vars';

.carousel_wrapper {
  position: absolute;
  top: 80px;
  right: 0;
  bottom: 40px;
  left: 0;
  outline: none;
  overflow: hidden;
  box-sizing: border-box;
  user-select: none;
}

.carousel_inner {
  width: 100%;
  min-width: 100%;
  height: 100%;
}

.scrollBar {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 5px;
  z-index: $Z-INDEX-100;

  &:focus {
    outline: none;
  }
}

.scrollNotch {
  height: 100%;
  background: $BLACK;
}
