$Z-INDEX-1000: 1000;
$Z-INDEX-100: 100;
$Z-INDEX-10: 10;
$Z-INDEX-1: 1;

$WHITE: #ffffff;
$BLACK: #000000;
$BLACK_SHADOW: hsla(0, 0%, 0%, .8);

$MAIN_FONT_FAMILY: 'Iosevka', 'Iosevka Web', sans-serif;
